.env

.venv/
venv/

__pycache__/
*.py[cod]

*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

secrets/*
!secrets/.gitkeep

docker/mosquitto/certs/*
!docker/mosquitto/certs/README.md

mosquitto/data/
mosquitto/log/